body{
    background-color: #9BFA86;
}

/* Notifications */

.notifs{
    border:0.5px solid black;
}

.notifs1 > div, .notifs2 > div, .notifs3 > div{
    padding:5px;
}

.notifs1, .notifs3{
    margin-top:15px;
}

.orderitems{
    text-align:center;
    
}

.orderitemsbox{
    border-radius: 10px;
    border:0.5px solid black;
    margin-bottom:.5rem;
}

.totalcost{
    font-weight: bold;
    font-size: 1.2rem;
}

.removevis{
    display:none;
}