
body{
    background-color: #9BFA86;
}

.heading{
    font-weight:bold;
    text-align:center;
    font-size: 1.4rem;
}

/* Image and User details */


.myimg{
    height:30vh;
    width:100%;
    border:3px solid black;
    cursor: pointer;
}

.myimgbig{
    height:80vh;
    width:81vw;
    z-index: 5;
    border:3px solid black;
    cursor: pointer;
    
}

.userdetails{
    z-index:-1;
}

.imageuserdetails{
    border:1px solid black;
}

.userdetails > div{
    padding:.7rem;
}


/* Orders */

.order{
    border:1px solid black;
}

.orderitems{
    text-align:center;
    
}

.orderitemsbox{
    border-radius: 10px;
    border:0.5px solid black;
    margin-bottom:.5rem;
}
.orderitemsbox > div{
    padding:2px 12px;
}

.totalcost{
    font-weight: bold;
    font-size: 1.2rem;
}
.orderdetail > div{
    padding:10px;
}

.viewmore{
    margin-top: 10px;
}

.removevis{
    display:none;
}



