body{
    background-color: #343a40;
}

@media only screen and (max-width:650px){
    body{
        font-size:.85em;
    }
}

/* Container Image*/
.myimage{
    width:100%;
    height:200px;
}

.heading{
    font-weight:bold;
    text-align:center;
}

/* Container Restaurants */
.restaurant{
    border:2px solid white;
    margin-top:10px;
    color:rgba(255,255,255,0.5);
    border-radius: 5px;
    height:210px;
}

.restaurant > div{
    text-decoration: none !important;
    text-align:center;
}

.restaurantimg{
    width:100%;
    height:63%;
}